
.pokerface-exercise {
  background-color: black;
  height: 100%;
  inset: 0;
  padding-left: 50px;
  padding-right: 50px;

  &__title, &__sub-title, &__results, &__description {
    color: #39ff14;
    text-shadow: 0 0 5px #C8C8C8;
  }

  &__title, &__sub-title {
    font: 45px Inconsolata, monospace;
  }

  &__quotes {
    font-size: 20px;
    color: #39ff14;
    text-shadow: 0 0 5px #C8C8C8;
  }

  .process-button {
    background-color: black;
    color: #39ff14;
    font-size: 20px;
    font-weight: bold;
    border: 10px solid #ade8a2;
    cursor: pointer;
    width: 120px;
    height: 60px;
  }

  .process-button:hover {
    background-color: #ade8a2;
    color: black;
    border: 10px solid #ade8a2;
  }

  .process-button:active {
    background-color: #39ff14;
    color: black;
    border: 10px solid #39ff14;

  }

  textarea {
    color: #39ff14;
    text-shadow: 0 0 5px #C8C8C8;
    background-color: black;
    font-size: 20px;
    border: 10px dashed #ade8a2;
    max-width: 2000px;
    min-width: 250px;
  }

  &__results, &__description {
    font: 30px Inconsolata, monospace;
    padding: 0;
    white-space: pre-line;
  }
}
