.instil-logo {
  font: 12px Inconsolata, monospace;
  color: #39ff14;
  text-shadow: 0 0 5px #C8C8C8;
  white-space: pre;
  line-height: 1px;

  .blue {
    color: #325bef;
  }

  .green {
    color: #089f40;
  }

  .red {
    color: #a21929
  }

  .purple {
    color: #5e0aa8
  }
}
