.not-found {
  background-color: black;
  height: 100%;
  position:absolute;
  inset: 0;

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    justify-content: center;

    &__message {
      font: 40px Inconsolata, monospace;
      color: #39ff14;
      text-shadow: 0 0 5px #C8C8C8;
    }
  }

  &__back-to-exercise {
    cursor: pointer;
    font: 40px Inconsolata, monospace;
    color: #39ff14;
    text-shadow: 0 0 5px #C8C8C8;
  }

  &__back-to-exercise:hover {
    color: #ade8a2;
  }
}
