.typing-caret {
  width: 5px;
  height: 30px;
  background-color: #39ff14;
  animation: blinking 1s infinite;
  align-content: start;
}

@keyframes blinking {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent
  }
  50% {
    background-color: #39ff14;
  }
}
